---
import FormattedDate from '@/components/FormattedDate.astro';
import { Icon } from 'astro-icon/components';

interface Props {
  post: any;
  randomClass: string;
}

const { post, randomClass } = Astro.props;
---

<a href={`/blog/${post.id}/`} class="flex flex-col gap-4">
  <li
    class="group flex w-10/12 flex-col gap-6 rounded-3xl border-black px-4 py-6 text-left transition hover:border-1 hover:shadow-hover"
  >
    <div
      class={`${randomClass} text-4xl p-2 self-start border-1 border-black shadow-card1 group-hover:shadow-card transition`}
    >
      <Icon name={post.data.icon} />
    </div>
    <h4 class="text-xl font-semibold">{post.data.title}</h4>
    <p class="date -mt-4 text-sm font-light">
      <FormattedDate date={post.data.pubDate} />
    </p>
    <div set:html={post.data.description} />
  </li>
</a>
